.remote-stream-container {
  position: absolute;
  display: flex;
  margin-top: 1rem;
  bottom: 70px;
  z-index: 100;
  width: 150px;
  height: 150px;
}

.remote-stream-container:hover .remote-stream-overlay {
  opacity: 0.5;
}

.remote-stream-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: gray;
  cursor: pointer;
}

.local-stream-container:hover .remote-stream-overlay {
  opacity: 0.5;
}