.main-stream-profile {
  width: 150px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 3;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 14px;
  color: #fff;
  right: 80px;
  top: 30px;
}

.stream-container {
  left: 30px;
  top: 91px;
  height: 660px;
  width: 233px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 2;
  .stream-player {
    max-height: 150px;
    background: rgba(216, 216, 216, 1);
    max-width: 200px;
    margin: 4px 0;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
    .stream-uid {
      padding: 2px 11px;
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 10px;
      left: 5px;
      bottom: 7px;
      z-index: 2;
      position: absolute;
      border-radius: 28px;
      max-width: 100px;
      max-height: 20px;
      background: rgba(0, 0, 0, 0.4);
      border-radius: 10px;
      font-size: 12px;
      font-family: HelveticaNeue;
      color: rgba(255, 255, 255, 1);
      line-height: 14px;
    }
  }
}