.home-container {
  .home-page-banner {
    background-image: url('../../img/backgrounds/bg-banner.jpg');
  }
  .home-page-commuincation, .home-page-features, .home-page-contact-us {
    background-color: white;
  }
  .home-page-know-app {
    background-color: #e5e5e5;
  }
  .home-page-footer {
    background-color: #343a40;
  }
}

@media only screen and (max-width: 600px) {
  .home-container {
    .home-page-banner {
      background-image: url('../../img/backgrounds/bg-banner.jpg');
      .content {
        padding-left: 0 !important;
      }
    }
    .home-page-commuincation, .home-page-features, .home-page-contact-us {
      background-color: white;
      .content {
        padding-left: 0 !important;
      }
    }
    .home-page-download {
      .content {
        padding-left: 0 !important;
      }
    }
    .home-page-know-app {
      background-color: #e5e5e5;
    }
    .home-page-footer {
      background-color: #343a40;
    }
  }
  .home-menu {
    .site-title {
      display: none;
    }
  }
}